<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>Michael Bernstein</h1>
			<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p>
		</div>

		<h4>Projects</h4>
		{{#if grid}}
			<div class="project" id="{{projects.0.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.0.id}}">
						<img src="{{projects.0.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.0.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>

			<div class="project" id="{{projects.1.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.1.id}}">
						<img src="{{projects.1.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.1.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.2.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.2.id}}">
						<img src="{{projects.2.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.2.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.3.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.3.id}}">
						<img src="{{projects.3.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.3.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.4.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.4.id}}">
						<img src="{{projects.4.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.4.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.5.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.5.id}}">
						<img src="{{projects.5.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.5.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.6.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.6.id}}">
						<img src="{{projects.6.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.6.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>


			<div class="project" id="{{projects.7.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.7.id}}">
						<img src="{{projects.7.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.7.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>

			<div class="project" id="{{projects.8.id}}">
				<div class="thumbnail">
					<a href="/project/{{projects.8.id}}">
						<img src="{{projects.8.image}}" alt="Lorem Pixel image" class="img-responsive">
						<p>{{projects.8.title}}</p>
					</a>
					<div class="details"></div>
				</div>
			</div>

		{{else}}
			{{#each projects}}
				<div class="project" id="{{id}}">
					{{> project}}
				</div>
			{{/each}}
		{{/if}}


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/introHCI.js"></script>
</body>
</html>
